

// BannerNho Components
.image_bannertour_small {
    margin-top: 25px;
    margin-bottom: 25px;
}

.image_bannertour_small img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    width: 100%;
}