// TourPopular

@media screen and (min-width: 280px) and (max-width: 575px) {
     // Header first

    .danhmuc_firsttop .menu-info .line-vertical {
        left: 51%;
    }

    .danhmuc_firsttop .menu-info .line-vertical_2 {
        left: 85%;
    }

    

    .phone-hotline .num-line {
        /* display: flex; */
        /* float: none; */
        font-size: 8px;
    }

    .hotline_firsttop {
        padding-left: 0px;
        padding-right: 0px;
        /* position: relative; */
    }

    .header-first .danhmuc_firsttop {
        padding-right: 0px;
        padding-left: 0px;
        flex: 0 0 auto;
        width: 47%;
    }
       
    .muc_menu .dropdown {
        position: relative;
        margin-left: -224%;
    }

    .danhmuc_firsttop .menu-info .muc_menu .flags_images {
        width: 15px;
        height: 15px;
        margin-top: 13px;
        padding: 1px;
    }

    .phone-hotline .text-hotline {
        font-size: 9px;
    }

    .hotline_firsttop .phone-hotline {
        margin-left: 10%;
    }

    .phone-hotline .num-line {
        display: flex;
        float: none;
    }

    .menu-info .muc_menu:first-child {
        position: relative;
        float: right;
        margin-right: -41%;
    }

    .menu-info .muc_menu {
        font-size: 8px;
        padding: 0px 0px;
    }

    .header-first .menu-info {
        position: relative;
        float: right;
        margin-right: -41%;
    }

    .header-first .line_stripe {
        display: none;
    }

    .navbar_goodsmile .navbar_logo_images {
        display: inline-block;
        top: 10%;
        right: 60%;
        padding-top: 0%;
        padding-bottom: 0%;
        position: absolute;
    }

    .tab_filter .tab_filter_searchnav .li_searchnav {
        width: 21%;
    }

    .tab_filter_searchnav .li_searchnav .search_mucfilter {
        font-size: 11px;
    }

    .li_searchnav .search_mucfilter i {
        font-size: 11px;
        margin-left: 2px;
        margin-right: -31px;
    }

    .li_searchnav .search_mucfilter .search_content_nav {
        float: left;
        text-align: center;
        line-height: 13px;
    }

    .search_box {
        margin-top: -43px;
    }

    .trangchu_formsearch .form_filter {
        padding: 20px 0;
        padding-left: 27px;
        padding-right: 61px;
    }

    .forminfo_filter .choose_input_tour .form_location_filter {
        font-weight: 400;
        width: 100%;
        height: 31px;
        font-size: 12px;
        line-height: 20px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: #ededed .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .form_filter .forminfo_filter .choose_input_tour .search_label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 9px;
        line-height: 13px;
    }

    .trangchu_formsearch .form_filter .forminfo_filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .form_filter .forminfo_filter .choose_input_tour {
        padding-right: 11px;
        padding-left: 0px;
    }
    
    .forminfo_filter .choose_input_tour .btn_search_find {
        line-height: 0px;
        width: 73px;
        height: 30px;
        border-radius: 73px;
        color: #fff;
        font-size: 10px;
    }
    // End Header

    // TourTrekking components
    .trekking_tour_slide .slick-track .slick-slide {
        width: 100% !important;
        height: 100%;
    }

    .Tour_trekking_content .TheTourTrekking {
        font-size: 24px;
    }
    
    .trekking_card {
        max-width: 100%;
        height: 100%;
        /* min-height: 1px; */
        /* height: 429.5px; */
        /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
        /* position: relative; */
    }

    .trekking_card .info_trekking .trekking_content .trekking_contentname {
        font-size: 100%;
    }

    .trekking_card .info_trekking {
        padding: 12px;
    }

    .trekking_card .info_trekking .tour_trekking_content {
        margin-top: -5px;
    }
    // End TourTrekking components

    // NextDestion components
    .NextDestion_tour .Next_title {
        font-size: 24px;
    }

    .next_target {
        width: 100%;
    }

    .next_target .card_tour_nextdestion:before {
        top: -3%;
        left: 1%;
        width: 98%;
    }

    .next_target .number_total_visit .trip_number {
        top: 85%;
        left: 34%;
    }
    // End NextDestion components

    // BlogWhy components
    .Blog_Why_content {
        height: auto;
        padding: 100px 0;
    }

    .Blog_Why_content .reason_choose .number_reason .reason_hangsau {
        flex: 0 0 auto;
        width: 50%;
    }

    // .Blog_Why_content .reason_choose .number_reason .reason_hangsau:last-child {
    //     width: 50%;
    //     flex: 0 0 auto;
    // }
    
    .Blog_Why_content .reason_choose .number_reason {
        margin-left: 0%;
    }

    .Blog_Why_content .reason_choose .number_reason .reason_hangdau {
        flex: 0 0 50%;
        width: 50%;
    }

    .reason_choose .reason_des {
        font-size: 15px;
        line-height: 20px; 
    }

    //End BlogWhy components

    // Banner components

    .Banner-Title {
        font-size: 20px;
        color: #B72028;
    }

    .Banner-Heading {
        font-size: 26px;
        /* font-weight: 600; */
        /* color: #B72028; */
    }

    .Banner-list-Content {
        font-size: 19px;
        font-weight: 500;
    }

    .customer_tellme img {
        width: 95px;
        height: 95px;
        border-radius: 999px;
        object-fit: cover;
    }

    .Banner-list-Date .name_company{
        color: #DBA73D;
        font-size: 18px;
    }

    .Banner-list-Date .name_sir {
        font-size: 16px;
    }

    .customer_banner {
        width: 100%;
    }

    .banner_image {
        width: 100%;
        padding-right: 100px;
    }

    .img-tilted-left {
        width: 100%;
        margin-left: 15%;
    }

    .img-tilted-right {
        width: 100%;
        margin-left: 24px;
    }
    // End Banner components
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    // Header 
    .hotline_firsttop .phone-hotline {
        float: left;
        margin-right: -138%;
        margin-left: 0%;
    }

    .header-first .hotline_firsttop {
        flex: 0 0 auto;
        width: 13%;
    }

.header-first .menu-info {
    position: relative;
    float: right;
    margin-right: 7%;
}

.menu-info .muc_menu {
    font-size: 11px;
    padding: 0px 0px;
    float: right;
    position: relative;
}

.danhmuc_firsttop .menu-info .line-vertical {
    left: 27%;
}

.danhmuc_firsttop .menu-info .line-vertical_2 {
    left: 80%;
}

  
  
.header-first .danhmuc_firsttop {
    flex: 0 0 auto;
    width: 82%;
}
    .li_searchnav .search_mucfilter i {
        width: 22px;
        margin-left: 2px;
        display: block;
        float: left;
        margin-right: 10px;
        font-size: 17px;
        font-weight: 700;
    }

    .tab_filter .tab_filter_searchnav .li_searchnav {
        height: 70px;
        width: 155px;
    }

    .tab_filter_searchnav .li_searchnav .search_mucfilter {  
        font-size: 12px;
    }

    .forminfo_filter .choose_input_tour .btn_search_find {
        padding: 6px 0px;
        width: 81px;
        height: 31px;
        font-size: 11px;
    }

    // Searchbox Components

    .search_box {
        margin-top: -43px;
    }

    .trangchu_formsearch .form_filter {
        padding: 20px 0;
        padding-left: 27px;
        padding-right: 61px;
    }

    .forminfo_filter .choose_input_tour .form_location_filter {
        font-weight: 400;
        width: 100%;
        height: 31px;
        font-size: 12px;
        line-height: 20px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: #ededed .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .form_filter .forminfo_filter .choose_input_tour .search_label {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 9px;
        line-height: 13px;
    }

    .trangchu_formsearch .form_filter .forminfo_filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .form_filter .forminfo_filter .choose_input_tour {
        padding-right: 11px;
        padding-left: 0px;
    }
    
    .forminfo_filter .choose_input_tour .btn_search_find {
        line-height: 0px;
        width: 73px;
        height: 30px;
        border-radius: 73px;
        color: #fff;
        font-size: 10px;
    }
    
    // End SearchBox Components

    // End Header components
    // Tour Trekking components
    .trekking_card .Trekking-img .item-content-price .price_trekking {
        width: 153px;
        height: 34px;
        font-size: 13px;
        position: absolute;
        top: -6%;
        left: -1%;
        padding-top: 11px;
    }

    .trekking_card {
        height: 364.5px;
    }

    .trekking_card .info_trekking {
        padding: 11px;
    }

    .trekking_card .info_trekking .trekking_content {
        margin-bottom: 14px;
        font-size: 11px;
        line-height: 15px;
        height: 44px;
        overflow: hidden;
    }

    .trekking_card .info_trekking .tour_trekking_content .trekking_item {
        font-size: 14px;
        margin-top: -3px;
    }

    .tour_trekking_content .trekking_item .row_info .item_label {
        font-size: 12px;
    }

    // NextDestion components
    .NextDestion_tour .Next_title {
        font-size: 23px;
    }

    .next_target {
        width: 50%;
    }

    .next_target .number_total_visit .trip_number {
        left: 11%;
    }
    // End NextDestion components

    // BlogWhy components
    .Blog_Why_content .reason_choose .number_reason {
        max-width: 100%;
        width: 100%;
        display: flex;
        // margin-left: 0% !important;
        // margin-right: 0% !important;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Blog_Why_content .reason_choose .question_choose {
        font-size: 23px;
        line-height: 34px;
    }

    .reason_choose .content_reason_child {
        font-size: 19px;
        line-height: 32px;
    }

    .Blog_Why_content .reason_choose .number_reason .reason_hangdau {
        flex: 0 0 34%;
        width: 50%;
    }

    .reason_choose .vong_tron_trang {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }

    .reason_choose .vong_tron_trang .vong_tron_do {
        width: 41.33px;
        height: 41.33px;
        margin: 8.83px;
    }

    .reason_choose .reason_des {
        font-size: 15px;
        line-height: 24px;
        color: #000;
        margin-bottom: 30px;
    }
    // End BlogWhy components

    // Banner components
    .customer_banner {
        width: 100%;
    }

    .Banner-Title {
        font-size: 20px;
        color: #B72028;
    }

    .Banner-Heading {
        font-size: 26px;
    }

    .Banner-list-Content {
        font-size: 19px;
        font-weight: 500;
    }

    .customer_tellme img {
        width: 95px;
        height: 95px;
        border-radius: 999px;
        object-fit: cover;
    }

    .img-tilted-left {
        transform: rotate(-10deg);
        transform-origin: top left;
        margin-left: 0px;
    }

    .banner_image {
        margin-top: 80px;
        display: contents;
    }

    .Banner-list-Date .name_company{
        color: #DBA73D;
        font-size: 18px;
    }

    .Banner-list-Date .name_sir {
        font-size: 16px;
    }

    .img-tilted-right {
        margin-left: -39px;
    }
    // End Banner components
}

@media screen and (min-width: 576px) and (max-width: 650px) {
    // SearchBox components
    .tab_filter .tab_filter_searchnav .li_searchnav {
        height: 70px;
        width: 116px;
    }
    .li_searchnav .search_mucfilter i {
        margin-left: 6px;
        margin-right: -26px;
        font-size: 12px;
    }


    .tab_filter_searchnav .li_searchnav .search_mucfilter {
        font-size: 11px;
    }

    .li_searchnav .search_mucfilter .search_content_nav {
        display: block;
        text-align: center;
        line-height: 12px;
    }

    .form_filter .forminfo_filter .choose_input_tour .search_label {
        font-size: 10px;
        line-height: 11px;
    }

    .forminfo_filter .choose_input_tour .form_location_filter {
        width: 123%;
        height: 36px;
        font-size: 10px;
        line-height: 8px;
    }
    // End searchBox components
}


// @media screen and (min-width: 833px) and (max-width: 991px){
//     // .tour_popular .T_popular_content .Tour_p_btn .Tour_button_contact {
//     //     right: -38%;
//     // }

//     // .T_popular_content .Tour_p_btn .Tour_button_contact .Tour_button_title {
//     //     margin-top: 14px;
//     // }
// }

@media screen and (min-width: 992px) and (max-width: 1290px){
    // Header components
    .search_box {
        margin-top: -159px;
    }
    // End header components
    // TourTrekking components
    .trekking_tour_slide .slick-track .slick-slide {
        width: 346px !important;
        height: 100%;
    }

    .trekking_card .info_trekking {
        padding: 4px;
    }

    .trekking_card .Trekking-img .item-content-price .price_trekking {
        width: 161px;
        height: 37px;
        font-size: 15px;
        position: absolute;
        top: -5%;
        left: 1%;
        padding-top: 13px;
    }

    .trekking_card .info_trekking .trekking_content {
        margin-bottom: 10px;
        font-size: 11px;
        line-height: 19px;
        height: 51px;
    }

    .trekking_card .info_trekking .tour_trekking_content .trekking_item {
        font-size: 17px;
        margin-top: 10px;
    }
    // End component TourTrekking

    // components NextDestion
    .next_target .number_total_visit .trip_number {
        left: 8%;
    }
    // End NextDestion components


   // Banner components
    .customer_banner {
        width: 100%;
    }

    .Banner-Title {
        font-size: 20px;
        color: #B72028;
    }

    .Banner-Heading {
        font-size: 26px;
    }

    .Banner-list-Content {
        font-size: 19px;
        font-weight: 500;
    }

    .customer_tellme img {
        width: 95px;
        height: 95px;
        border-radius: 999px;
        object-fit: cover;
    }

    .img-tilted-left {
        transform: rotate(-10deg);
        transform-origin: top left;
        margin-left: -20%;
    }

    .banner_image {
        margin-top: 80px;
        margin-left: 29%;
    }

    .Banner-list-Date .name_company{
        color: #DBA73D;
        font-size: 18px;
    }

    .Banner-list-Date .name_sir {
        font-size: 16px;
    }

    .img-tilted-right {
        margin-left: 24px;
    }
    // End Banner components


}

@media screen and (min-width: 1200px) and (max-width: 1290px){
    .navbar_goodsmile .navbar_logo_images {
        padding-top: 1.5%;
        position: absolute;
        right: 81%;
    }

    .search_box {
        margin-top: -180px;
    }
    
}
// TourPopular components responsive
@media (min-width: 1025px) {
    .Tour_type_popular {
        margin-bottom: -13px
    }

    .Tour_type_popular:after,
    .Tour_type_popular:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 3;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: #fff;
        transition: height .13s ease
    }

    .Tour_type_popular:before {
        top: 0
    }

    .Tour_type_popular:after {
        bottom: 0
    }

    .Tour_type_popular:hover:before {
        height: 0
    }

    .Tour_type_popular:hover:after {
        height: 1px
    }

}

@media (max-width: 1024.98px) {
    .Tour_type_popular {
        margin-left: -15px;
        margin-right: -15px
    }

    .Tour_type_popular .tour_popular:nth-child(2) {
        margin-left: 0;
        margin-right: 0
    }
}


@media (min-width: 767px) {
    .Tour_type_popular {
        margin-left: -75px;
        margin-right: -75px
    }

    .Tour_type_popular .tour_popular:nth-child(2) {
        margin-left: -4px;
        margin-right: -4px
    }

    .Tour_type_popular:not(.slick-initialized) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start
    }

    .Tour_type_popular .tour_popular {
        transition: width .13s ease;
        position: relative
    }

    .Tour_type_popular .tour_popular:not(.active) {
        width: 33.333%
    }

    .Tour_type_popular .tour_popular.wide {
        width: calc(33.333% + 30px)
    }

    .Tour_type_popular .tour_popular.short {
        width: calc(33.333% - 15px)
    }

    .Tour_type_popular .tour_popular .T_popular_bi {
        margin-left: -76px;
        width: calc(100% + 76px)
    }

    .Tour_type_popular .tour_popular:first-child {
        z-index: 2
    }

    .Tour_type_popular .tour_popular:nth-child(2) {
        z-index: 1
    }

    .Tour_type_popular .tour_popular:nth-child(3) {
        z-index: 0
    }

    .Tour_type_popular .tour_popular:first-child {
        padding-left: 70px
    }

    .Tour_type_popular .tour_popular:nth-child(3) {
        padding-right: 70px
    }
}

@media (min-width: 767px) and (max-width:1024px) {
    .Tour_type_popular {
        margin-left: -52px;
        margin-right: -52px
    }
}

@media (max-width: 766px) {
    .Tour_type_popular {
        margin-left: 0;
        margin-right: 0
    }
}

@media (max-width: 1500px) {
    .tour_popular .tt-item__description {
        max-width: 337px
    }
}

@media (max-width: 1229.98px) {
    .tour_popular {
        height: 600px
    }

    .tour_popular .Tour_p_title {
        font-size: 33px
    }
}

@media (max-width: 1024px) {
    .tour_popular {
        height: 411px
    }

    .tour_popular .tt-item__description {
        max-width: 250px
    }

    .tour_popular.slick-slide {
        height: 411px
    }

    .tour_popular .Tour_p_title {
        font-size: 24px
    }

    .tour_popular .Tour_p_title .tt-icon {
        top: -53px
    }

    .tour_popular .Tour_p_title .tt-icon img {
        max-width: 46px
    }

    .tour_popular .T_popular_content {
        padding-left: 15px;
        padding-right: 15px
    }

    .tour_popular .Tour_p_btn {
        margin-top: 15px;
        width: 100%
    }

    .tour_popular .Tour_p_btn a {
        width: 36px;
        height: 36px;
        font-size: 20px;
        line-height: 20px
    }

    .tour_popular .Tour_p_btn a:hover {
        background-color: #fff;
        color: #f47629
    }

    .tour_popular .T_popular_bi .T_image_top:after,
    .tour_popular .T_popular_bi .T_image_top:before,
    .tour_popular .Tour_p_btn a:hover:after {
        display: none
    }
}


@media (max-width: 990px) {
    .tour_popular .Tour_p_title {
        font-size: 18px;
    }

    .tour_popular .Tour_p_btn a {
        font-size: 13px;
        line-height: 27px;
    }

    .Tour_button_contact {
        position: absolute;
        top: 0;
        left: 13%;
    }
}


@media (max-width: 766px) {

    .tour_popular,
    .tour_popular.slick-slide {
        height: 411px
    }

    .tour_popular .Tour_p_title {
        font-size: 24px
    }

    .tour_popular .Tour_p_title .tt-icon {
        top: -53px
    }

    .tour_popular .Tour_p_title .tt-icon img {
        max-width: 46px
    }

    .tour_popular .T_popular_bi {
        transform: skew(0deg, 0)
    }

    .tour_popular .T_popular_bi .T_backgroundImage {
        transform: none;
        width: 100%
    }

    .Tour_button_contact {
        position: absolute;
        top: 0;
        left: 25%;
    }

    .tour_popular .T_popular_content {
        padding-left: 15px;
        padding-right: 15px
    }

    .tour_popular .Tour_p_btn {
        margin-top: 15px;
        width: 100%
    }

    .tour_popular .Tour_p_btn a {
        width: 36px;
        height: 36px;
        font-size: 16px;
        line-height: 16px
    }

    .Tour_button_title {
        padding-top: 7px
    }

    .tour_popular .Tour_p_btn a:hover {
        background-color: #fff;
        color: #f47629
    }

    .tour_popular .Tour_p_btn a:hover:after {
        display: none
    }

    .tour_popular .T_popular_bi {
        transform: none
    }



    .tour_popular .T_popular_bi .T_image_top {
        transform: skew(0deg, 0)
    }

    .tour_popular .T_popular_bi .T_image_top:after,
    .tour_popular .T_popular_bi .T_image_top:before {
        display: none
    }

    .tour_popular .tt-item__description {
        max-width: 337px
    }
}

@media (max-width: 575px) {
    .tour_popular {
        height: 310px !important
    }

    .tour_popular .T_popular_content {
        padding-left: 0;
        padding-right: 0
    }
}

// End responsive components